<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
                
    
    
    <wb-module deploy-name="breakfast-delivery-service-delimeal">
                                
        
        
        <wb-resource deploy-path="/" source-path="/web" tag="defaultRootSource"/>
                                
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                                
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/web/WEB-INF/resources"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/log4j"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/config"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/mappers"/>
                                
        
        
        <property name="context-root" value="delimeal"/>
                                
        
        
        <property name="java-output-path" value="/breakfast-delivery-service-delimeal/web/WEB-INF/classes"/>
                            
    
    
    </wb-module>
            


</project-modules>
