@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
}

#addressEditBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

#addressEditBox #addrName {
    width: 100px;
}

#addressEditBox #addrZipcodeBox {
    display: flex;
    flex-direction: row;
    gap: 10px
}

#addressEditBox #addrZipcodeBox button {
    flex: 0 0 auto;
}

#addressEditBox #reqAndSaveBox {
    display: flex;
    flex-direction: row;
    gap: 10px
}

#addressEditBox #reqAndSaveBox button {
    flex: 0 0 auto;
}


#addressList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#addressList .address-list-tile {
    display: flex;
    flex-direction: column;
}

.address-list-tile #nameAndBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.address-list-tile #nameAndBtn div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}