@charset "UTF-8";

:root {
	--mainColor1: #3C8028;
	--mainColor2: #63C246;
	--mainColor3: #BAEF61;
	--mainColor4: #C2694C;
	--mainColor5: #D9C196;
	--dividerColor: #D7D7D7;
	--subText: #6C6C6C;

	--min-width: 800px;
	--max-width: 1200px;
}

* {
	font-family: 'Noto Sans KR', sans-serif;
}

header ul {
	list-style: none;
}

aside ul {
	list-style: none;
}

/* 헤더 */
header {
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #D7D7D7;
}

.header-box {
	margin: 0 auto;
	min-width: var(--min-width);
	max-width: var(--max-width);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#logo {
	width: 120px;
	height: 120px;
	cursor: pointer;
	background-image: url('/delimeal/resources/image/logo.png');
	background-size: cover;
}

#menuBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
	align-items: center;
}

#menuBar > .menu {
	align-content: center;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
	white-space: nowrap;
	font-style: normal;
	font-weight: 600;
	font-size: min(max(1.8vw, 15px), 22px);
	color: var(--subText);
}

#menuBar, #menuBar dl, #menuBar ol, #menuBar ul {
	margin-block-end: 0 !important;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	padding-inline-start: 0 !important;
}

#menuBar > .active {
	color: var(--mainColor1);
}

#menuBar > .active:after {
	display: block;
}

#menuBar>.menu:hover {
	color: #3C8028;
}

.menu:after {
	content: '';
	display: none;
	width: min(75%, 75px);
	height: 3px;
	background: #3C8028;
	margin: 0 auto;
}

.menu:hover.menu:after {
	display: block;
}

.btn-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	width: 120px;
}

.btn {
	padding: 5px 10px;
	white-space: nowrap;
}

.btn-outline {
	border: 1px solid var(--mainColor1);
	color: var(--mainColor1);
}

.btn-outline:hover {
	background-color: var(--mainColor);
	color: white;
	transition: 0.2s;
}

.btn-normal {
	background-color: var(--mainColor2);
	color: white;
}

.btn-normal:hover {
	background-color: var(--mainColor1);
	color: white;
	transition: 0.2s;
}

#loginbt {
	padding: 5px 10px;
	color: #7eab71;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	white-space: nowrap;
}

#loginbt:hover {
	color: white;
}

header a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.473);
}

/* 컨텐츠 (어사이드+섹션) */
#content {
	min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
	margin: 0 auto;
}

/* 어사이드 */
aside ul, aside ol, aside li {
	margin-block-end: 0 !important;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-inline-start: 0 !important;
}

aside {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 120px);
	border-left : 1px solid var(--dividerColor);
	border-right: 1px solid var(--dividerColor);
	width: 200px;
}

#asideTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	border-bottom: 1px solid var(--dividerColor);
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	color: var(--mainColor1);
}

.aside-menu-box {
	font-size: 18px;
	color: var(--subText);
	margin: 20px 20px 0 0;
}

.aside-menu {
	padding-bottom: 20px;
}

.selected-menu {
	width: 15px;
	height: 4px;
	background: var(--mainColor1);
	visibility: hidden;
}

.aside-menu-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}

.aside-menu-subbox {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.aside-menu-subbox:hover {
	color: var(--mainColor1);
}

.toggle-btn {
	width: 10px;
	height: 10px;
	background-image: url('/delimeal/resources/image/toggle.svg');
	background-size: cover;
}

.aside-menu-subbox > .toggle-btn {
	transform: rotateZ(90deg);
	transition: 0.2s;
}

.aside-submenu {
	display: flex;
	margin: 5px 0 5px 45px;
	flex-direction: column;
	gap: 5px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.aside-submenu li {
	cursor: pointer;
	font-size: medium;
}

.aside-submenu li:hover {
	color: var(--mainColor1);
}

.aside-submenu li a {
	text-decoration: none;
	color: inherit;
}

/* 사이드바 토글 버튼 active */

.aside-menu.active .aside-menu-name span {
	color: var(--mainColor1);
}

.aside-menu.active .toggle-btn {
	transform: rotateZ(0deg);
	transition: 0.2s;
}

.aside-menu.active .selected-menu {
	visibility: visible;
}

.aside-menu .aside-submenu li.active {
	color: var(--mainColor1);
}

/* 섹션(아티클) */
section {
	display: flex;
	padding: 20px;
	width: 100%;
	min-width: calc(var(--min-width) - 200px);
	max-width: calc(var(--max-width) - 200px);
}

article {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

article > h2 {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	color: var(--subText);
}

section #subTitle {
	display: flex;
	width: 100%;
}

section .sub-title {
	margin-bottom: 0;
	white-space: nowrap;
	border-bottom: 3px solid var(--mainColor1);
	padding-bottom: 10px;
}

section .sub-title-tail {
	width: 100%;
	border-bottom: 3px solid var(--dividerColor);
	padding-bottom: 10px;
}

/* div#content.no-sidebar {
	min-width: var(--min-width);
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
	margin: 0 auto;
} */

div#content.no-sidebar section {
	display: flex;
	padding: 20px;
	width: var(--min-width);
	min-width: auto;
	max-width: auto;
}

/* 페이징 버튼 */	
.pagingArea button {
	border-color:white;
	margin:2px;
	/* border: 0; */
	color:#7eab71;
	border-style: outset;
}
