body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}

#loginBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15vh;
}

.logo {
    width: 150px;
    height: 150px;
    text-align: center;
    background-image: url('/delimeal/resources/image/logo.png');
    background-size: cover;
}

#loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#idAndPasswordBox {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.txt-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.txt-box input {
    width: 100%;
    border: none;
    border: solid 1px #BABABA;
    border-radius: 8px;
    padding: 5px 10px;
}

.btn {
    border: solid 1px #3C8028;
    border-radius: 8px;
    height: 100%;
    color: #3C8028;
}

.btn:hover {
    background: #3C8028;
    color: white;
}

#keepLoggedIn, #keepLoggedIn + label {
    accent-color: #3C8028;
    cursor: pointer;
}

#memberFunction a {
    text-decoration: none;
    color: inherit;
}

#memberFunction a:hover {
    color: #3C8028
}

.fnt-sm {
    font-size: 14px;
}

.fnt-warn {
    color: red;
}