@charset "UTF-8";

:root {
    --category-gallery-gap: 20px;
    --items-per-row: 4;
    /* 위의 값들 설정하면 갤러리의 각 타일 크기를 계산해줌 */
    --tile-size: calc((100% / var(--items-per-row)) - (var(--category-gallery-gap) - (var(--category-gallery-gap) / var(--items-per-row))));
    --buy-button-size: 33px;
    
    --category-image-size: 300px;
    --meal-list-gap: 20px;
    --meal-items-per-row: 5;
    /* 위의 값들 설정하면 갤러리의 각 타일 크기를 계산해줌 */
    --meal-tile-size: calc((100% / var(--meal-items-per-row)) - (var(--meal-list-gap) - (var(--meal-list-gap) / var(--meal-items-per-row))));
}

#categoryGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}

#categoryGallery .tile {
    display: flex;
    flex-direction: column;
    width: var(--tile-size);
    gap: 5px;
}

#categoryGallery .tile a {
    color: inherit;
    text-decoration: none;
}

#categoryGallery .tile .image-box {
    background-position: center;
    background-attachment: auto;
    background-size: cover;

    width: 100%;
    height: 0;
    padding-top: 100%;
}

#categoryGallery .tile #mealInfoAndBuyBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#categoryGallery .tile #mealInfoAndBuyBtn :first-child {
    flex: 1 1 auto;
}

#categoryGallery .tile .info-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: small;
    min-width: 0;
}

#categoryGallery .tile .info-box * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#categoryGallery .tile #mealInfo #mealName {
    font-size: medium;
}

#categoryGallery .tile #mealDesc, #categoryGallery .tile #mealPrice, #categoryGallery .tile #mealSubs {
    color: var(--subText);
}

#categoryGallery .tile #btnBuyMeal {
    flex: 0 0 auto;
    width: var(--buy-button-size);
    height: var(--buy-button-size);
    border-radius: 50%;
    background-image: url('/delimeal/resources/image/buy-btn.svg');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

/* =========== 식단 정보 =========== */

hr.dashed {
    border-top: 1px dashed var(--dividerColor);
}

#categoryInfo {
    display: flex;
    flex-direction: column;
    font-size: medium;
    gap: 20px;
}

#categoryInfo #description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#categoryInfo #description #categoryImage {
    width: var(--category-image-size);
    height: var(--category-image-size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#categoryInfo #description #buyForm {
    flex: 1 1 auto;
}

#categoryInfo #description #buyForm > div {
    display: flex;
    flex-direction: column;
}

#buyForm #categoryName {
    font-size: larger;
}

#buyForm #categoryDesc {
    font-size: medium;
    color: var(--subText);
}

#buyForm #buyOptions {
    gap: 10px;
}

#buyForm #buyOptions > div {
    display: flex;
    flex-direction: row;
}

#buyForm #buyOptions > div > :nth-child(1) {
    width: 33%;
    max-width: 200px;
    min-width: 100px;
}

#buyForm #buyOptions > div > :nth-child(2) {
    flex: 1 1 auto;
}

#buyForm #buyOptions #amount {
    width: 60px;
}

#buyForm #buyOptions #deliveryDate {
    width: 100%;
}

#buyForm #buy {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#buyForm #buy > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#buyForm #buy #price {
    font-size: larger
}

#buyForm #buy #price > :nth-child(1) {
    width: 200px;

}

#buyForm #buy #price > :nth-child(2) {
    flex: 1 1 auto;
    text-align: end;
}

#mealList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;

    font-size: small;
}

#mealList .tile {
    display: flex;
    flex-direction: column;
    width: var(--meal-tile-size);
    gap: 5px;
}

#mealList .tile .image-box {
    background-position: center;
    background-attachment: auto;
    background-size: cover;

    width: 100%;
    height: 0;
    padding-top: 100%;
}

#mealList #mealInfo {
    display: flex;
    flex-direction: column;
}

#mealList a {
    text-decoration: none;
    color: inherit;
}

#mealList #mealInfo #weekday, #mealList #mealInfo #mealName {
    font-weight: bold;
}

#mealList #mealInfo #mealDesc {
    font-size: smaller;
}