@charset "UTF-8";

:root {
    --meal-image-size: 200px;
    --menu-image-size: 150px;
}

hr.dashed {
    border-top: 1px dashed var(--dividerColor);
}

#mealInfo {
    display: flex;
    flex-direction: column;
    font-size: medium;
    gap: 10px;
}

#mealInfo #description {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 40px;
}

#mealInfo #description #mealImage {
    width: var(--meal-image-size);
    height: var(--meal-image-size);
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mealInfo #description #mealDescBox {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#mealInfo #description #mealDescBox > div {
    display: flex;
    flex-direction: column;
}

#mealDescBox #categoryName {
    font-size: small;
}

#mealDescBox #mealName {
    font-size: larger;
}

#mealDescBox #mealDesc {
    font-size: medium;
    color: var(--subText);
}

#mealDescBox #buyOptions {
    gap: 10px;
}

#mealDescBox #buyOptions > div {
    display: flex;
    flex-direction: row;
}

#mealDescBox #buyOptions #kcalBox #kcal {
    text-align: end;
}

#mealDescBox #buyOptions #kcalBox > :nth-child(1) {
    width: 33%;
    max-width: 200px;
    min-width: 100px;
}

#mealDescBox #buyOptions #kcalBox > :nth-child(2) {
    flex: 1 1 auto;
}

#mealDescBox #buyOptions #amount {
    width: 60px;
}

#mealDescBox #buyOptions #deliveryDate {
    width: 100%;
}

#mealInfo #btnBox {
    display: flex;
    justify-content: flex-end;
}

#menuList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menuList .tile {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#menuList #menuImage {
    width: var(--menu-image-size);
    height: var(--menu-image-size);

    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menuList #menuDescBox {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1 1 auto;
}

#menuList #menuDescBox #menuName {
    font-size: large;
}

#menuList #menuDescBox #kcalBox {
    display: flex;
    justify-content: space-between;
}

#menuList #menuDescBox #nutritionBox, #menuList #menuDescBox #allergyBox {
    display: flex;
    flex-direction: column;
}

#nutritionBox #nutrition, #allergyBox #allergy {
    font-size: small;
}