@charset "UTF-8";

#paymentWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F2F2F2;
    padding: 15px;
}

#paymentWrapper .pay-accent {
    color: var(--mainColor2);
}

#paymentWrapper .btn {
    padding: 4px 30px;
}

#paymentWrapper .payment-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

#paymentWrapper #boxTitle {
    font-size: large;
}

#paymentWrapper hr {
    margin: 2px 0;
}

#paymentWrapper .payment-inner-box {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    gap: 5px;
}

#paymentWrapper #memberInfoAndAddrBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#paymentWrapper #memberInfoAndAddrBtn #memberInfo {
    display: flex;
    flex-direction: row;
}

#paymentWrapper #memberInfoAndAddrBtn #name {
    width: 100px;
}

#paymentWrapper #deliveryInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#paymentWrapper #disposableAndPoint {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#paymentWrapper #couponAndPoint .box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#paymentWrapper #couponAndPoint .title {
    width: 100px;
}

#paymentWrapper #couponAndPoint .use-amount {
    width: 100px;
}

#paymentWrapper #couponAndPoint .box-form {
    width: calc(100% - 360px);
}



#paymentWrapper #mealCategoryInfoBox #categoryImage {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#paymentWrapper #mealCategoryInfoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
}

#paymentWrapper #mealCategoryInfoBox #categoryInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#paymentWrapper #categoryAndPriceBox .box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#paymentWrapper #categoryAndPriceBox .box-row-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#paymentWrapper input[type="radio"], #paymentWrapper input[type="checkbox"] {
    accent-color: #3C8028;
    cursor: pointer;
}

#paymentWrapper input[type="radio"] + label, #paymentWrapper input[type="checkbox"] + label {
    cursor: pointer;
}

#paymentWrapper .payment-inner-box {
    gap: 10px;
}

#paymentWrapper .payment-inner-box #choosePayMethod {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#paymentWrapper .payment-inner-box #priceAndPay {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}